
.PopularItems, .FeaturedItems {
  display: flex;
  flex-flow: row nowrap; 


  padding: 2em;
}

.DisplayItem {

  padding: 1em;

  border: solid 1px black; 
  margin: 0 1em;
  flex: 0 0 10em; 
}

.DisplayItem img {
  object-fit: contain;
  max-width: 100%; 

}